<p>Deposit Amount</p>

<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            
            <div class="main">
                <h4>Deposit Here<br></h4><br>
            <form>
            <input id="uname" type="text" class="text" name="uname"  placeholder="Username"><br><br>
            
            <input id="accnotext" type="text" class="text" name="acno"   placeholder="Account number"><br><br>
            
            <input id="pwdtext" type="password"  class="text" name="pswd"   placeholder="Password" ><br> <br>
            
           <div class="line"></div>
                <input type="submit" value="Deposit Amount" class="button button1 butefct"> <br><br>
            </form>
        </div></div>
        <div class="col-4"></div>
    </div>
</div>

